body {
  font-family: "Mulish", sans-serif;
}

body .misc ::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc :-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc ::-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc ::placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .SignUpContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .SignUpContainer h2 {
  text-transform: uppercase;
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .SignUpContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer ::placeholder {
  color: #9ad1ad;
}

body .SignUpContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .SignUpContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SignUpContainer .d-flex select {
  border-radius: 8px 0 0 8px;
  background-color: #028C32;
  padding: 12px 0px;
}

body .SignUpContainer .d-flex input {
  border-radius: 0 8px 8px 0;
}

body .SignUpContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

body .SignUpContainer #validationCustom05 {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
  margin-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .LoginContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .LoginContainer form {
  background-color: white;
  padding: 50px;
}

body .LoginContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer ::placeholder {
  color: #9ad1ad;
}

body .LoginContainer button {
  margin-top: 100px;
}

body .LoginContainer h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .LoginContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .LoginContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SellWasteContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .SellWasteContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .SellWasteContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SellWasteContainer button {
  margin-top: 60px;
}

body .SellWasteContainer form {
  background-color: white;
  padding: 50px;
}

body .SellWasteContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer ::placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .SellWasteContainer .d-flex select {
  border-radius: 8px 0 0 8px;
  background-color: #028C32;
  padding: 12px 0px;
}

body .SellWasteContainer .d-flex input {
  border-radius: 0 8px 8px 0;
}

body .SellWasteContainer #validationCustom05 {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
  margin-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ForgotPasswordContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .ForgotPasswordContainer .text {
  font-family: "Inter", sans-serif;
  text-align: center;
}

body .ForgotPasswordContainer .text h2 {
  color: #028C32;
}

body .ForgotPasswordContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer ::placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer form {
  background-color: white;
  padding: 50px;
}

body .ForgotPasswordContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .ForgotPasswordContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ForgotPasswordContainer button {
  margin-top: 250px;
}

body .ResetContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .ResetContainer .text {
  text-align: center;
}

body .ResetContainer .text h2 {
  color: #028C32;
}

body .ResetContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .ResetContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ResetContainer ::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer :-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer ::-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer ::placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer button {
  margin-top: 200px;
}

body .ResetContainer form {
  background-color: white;
  padding: 50px;
}

body .central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .central button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .central p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body .central h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}

body .centralize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .centralize button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .centralize .congratulations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .centralize .congratulations img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 35%;
}

body .centralize .congratulations h2 {
  font-size: 25px;
  color: #028C32;
  font-family: "Inter", sans-serif;
}

body .centralize .congratulations p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

body nav {
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(90.01deg, #08bd46 0.84%, rgba(44, 255, 204, 0) 194.85%);
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.16);
}

body nav .navbar-toggler:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body nav .navbar-toggler {
  border: none;
}

body nav #navbarText {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body nav #navbarText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav-item:nth-child(5) {
  border: 1px solid #028C32;
  width: 200px;
  height: 55px;
  text-align: center;
  background-color: #028C32;
  border-radius: 6px;
}

body nav .nav-item:nth-child(5) .nav-link {
  color: #fff !important;
}

body nav .nav-item .nav-link {
  color: #028C32 !important;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
}

body nav .nav-item:not(:last-child) {
  margin-right: 40px;
}

body nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .logo span {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #028C32;
}

body .firstSection {
  background: #EEEEEE;
}

body .firstSection .col-lg-5 {
  padding-top: 85px;
}

@media screen and (max-width: 900px) {
  body .firstSection .col-lg-5 {
    padding-top: 25px;
  }
}

body .firstSection h1 {
  font-weight: 700;
  font-size: 50px;
  color: #028C32;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 900px) {
  body .firstSection h1 {
    font-size: 34px;
    line-height: 50px;
  }
}

body .firstSection p {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

body .firstSection button {
  color: #028C32;
  background-color: #028C32;
  padding: 10px 50px;
  border: 1px solid #028C32;
  border-radius: 6px;
  margin-bottom: 30px;
}

body .firstSection button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

body .firstSection img {
  padding-top: 40px;
}

body .secondSection {
  text-align: center;
  border-bottom: 40px solid #028C32;
}

body .secondSection h2 {
  font-size: 39px;
  font-family: "Mulish", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 900px) {
  body .secondSection h2 {
    font-size: 28px;
  }
}

body .secondSection p {
  color: #676B69;
  line-height: 25px;
  font-family: "Mulish", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

body .secondSection .para {
  padding-top: 45px;
}
/*# sourceMappingURL=styles.css.map */