body {
  font-family: "Mulish", sans-serif;
}

body .misc ::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc :-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc ::-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .misc ::placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

body .SignUpContainer h2 {
  text-transform: uppercase;
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .SignUpContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .SignUpContainer ::placeholder {
  color: #9ad1ad;
}

body .SignUpContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .SignUpContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SignUpContainer .d-flex select {
  border-radius: 8px 0 0 8px;
  background-color: #028C32;
  padding: 12px 0px;
}

body .SignUpContainer .d-flex input {
  border-radius: 0 8px 8px 0;
}

body .SignUpContainer button {
  border: none;
  border-radius: 8px;
  background-color: #028C32;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

body .SignUpContainer #validationCustom05 {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
  margin-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .LoginContainer form {
  background-color: white;
  padding: 50px;
}

body .LoginContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .LoginContainer ::placeholder {
  color: #9ad1ad;
}

body .LoginContainer button {
  margin-top: 100px;
}

body .LoginContainer h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .LoginContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .LoginContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SellWasteContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .SellWasteContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .SellWasteContainer button {
  margin-top: 60px;
}

body .SellWasteContainer form {
  background-color: white;
  padding: 50px;
}

body .SellWasteContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer ::placeholder {
  color: #9ad1ad;
}

body .SellWasteContainer h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body .SellWasteContainer .d-flex select {
  border-radius: 8px 0 0 8px;
  background-color: #028C32;
  padding: 12px 0px;
}

body .SellWasteContainer .d-flex input {
  border-radius: 0 8px 8px 0;
}

body .SellWasteContainer #validationCustom05 {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
  margin-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ForgotPasswordContainer .text {
  font-family: "Inter", sans-serif;
  text-align: center;
}

body .ForgotPasswordContainer .text h2 {
  color: #028C32;
}

body .ForgotPasswordContainer ::-webkit-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer :-ms-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer ::-ms-input-placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer ::placeholder {
  color: #9ad1ad;
}

body .ForgotPasswordContainer form {
  background-color: white;
  padding: 50px;
}

body .ForgotPasswordContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .ForgotPasswordContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ForgotPasswordContainer button {
  margin-top: 250px;
}

body .ResetContainer .text {
  text-align: center;
}

body .ResetContainer .text h2 {
  color: #028C32;
}

body .ResetContainer input {
  border: 1px solid rgba(2, 140, 50, 0.6);
  padding: 10px;
  border-radius: 8px;
}

body .ResetContainer input:focus {
  border: 1px solid rgba(2, 140, 50, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ResetContainer ::-webkit-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer :-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer ::-ms-input-placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer ::placeholder {
  opacity: 0.3;
  font-size: 8px;
}

body .ResetContainer button {
  margin-top: 200px;
}

body .ResetContainer form {
  background-color: white;
  padding: 50px;
}

body .central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .central p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body .central h2 {
  color: #028C32;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}

body .centralize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .centralize .congratulations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .centralize .congratulations img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 35%;
}

body .centralize .congratulations h2 {
  font-size: 25px;
  color: #028C32;
  font-family: "Inter", sans-serif;
}

body .centralize .congratulations p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */