@import "./variables";
// * {
//   padding: 0;
//   margin: 0;
// }
body {
  font-family: $formfont;
  .misc {
    ::placeholder {
      opacity: 0.3;
      font-size: 8px;
    }
  }
  button {
    border: none;
    border-radius: 8px;
    background-color: $mainColor;
    color: white;
    width: 100%;

    padding: 10px 0;
    margin: {
      top: 100px;
      bottom: 20px;
    }
  }

  .SignUpContainer {
   
    
    h2 {
      text-transform: uppercase;
      color: $mainColor;
      text-align: center;
      font-family: $myfont;
    }

    ::placeholder {
      color: $placeholdercolor;
    }

    input {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
    }
    input:focus {
      border: 1px solid $formColor;
      box-shadow: none;
    }

    .d-flex {
      select {
        border-radius: 8px 0 0 8px;
        background-color: $mainColor;

        padding: 12px 0px;
      }
      input {
        border-radius: 0 8px 8px 0;
      }
    }
    button {
      border: none;
      border-radius: 8px;
      background-color: $mainColor;
      color: white;
      width: 100%;

      padding: 10px 0;
      margin: {
        top: 50px;
        bottom: 20px;
      }
    }

    #validationCustom05 {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
      margin-top: 0;

      box-shadow: none;
    }
  }

  .LoginContainer {
    form {
      background-color: white;
      padding: 50px;
    }
    ::placeholder {
      color: $placeholdercolor;
    }
    button{
        margin-top: 100px;
    }

    h2 {
      color: $mainColor;
      text-align: center;
      font-family: $myfont;
    }
    input {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
    }
    input:focus {
      border: 1px solid $formColor;
      box-shadow: none;
    }
  }

  .SellWasteContainer {
    input {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
    }
    input:focus {
      border: 1px solid $formColor;
      box-shadow: none;
    }
    button {
      margin-top: 60px;
    }
    form {
      background-color: white;
      padding: 50px;
    }
    ::placeholder {
      color: $placeholdercolor;
    }
    h2 {
      color: $mainColor;
      text-align: center;
      font-family: $myfont;
    }
    .d-flex {
      select {
        border-radius: 8px 0 0 8px;
        background-color: $mainColor;

        padding: 12px 0px;
      }
      input {
        border-radius: 0 8px 8px 0;
      }
    }
    #validationCustom05 {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
      margin-top: 0;

      box-shadow: none;
    }
  }

  .ForgotPasswordContainer {
    .text {
      font-family: $myfont;
      text-align: center;
      h2 {
        color: $mainColor;
      }
    }
     ::placeholder {
      color: $placeholdercolor;
    }
    form {
      background-color: white;
      padding: 50px;
    }

    input {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
    }
    input:focus {
      border: 1px solid $formColor;
      box-shadow: none;
    }
    button {
      margin-top: 250px;
    }
  }


  .ResetContainer{
      .text{
          text-align: center;
          h2{
               color: $mainColor; 
          }
      }
         input {
      border: 1px solid $formColor;
      padding: 10px;
      border-radius: 8px;
    }
    input:focus {
      border: 1px solid $formColor;
      box-shadow: none;
    }
     ::placeholder {
      opacity: 0.3;
      font-size: 8px;
    }
    button{
        margin-top: 200px;
    }
      form {
      background-color: white;
      padding: 50px;
    }






  }

.central{
     display: flex; 
    justify-content: center; 
    
     padding: 20px;
     width: fit-content; 
     margin: auto;
     align-items: center;
    


  p{
      font-weight: 400;
font-size: 16px;
font-family: $myfont;
  }
      
       
    h2 {
   
        color: $mainColor;
        text-align: center;
        font-family: $myfont;
        font-size: 25px;
      }
    
     
  
    }


  .centralize{
    display: flex; 
    justify-content: center; 
    
     padding: 20px;
     width: fit-content; 
     margin: auto;
     align-items: center;




     .congratulations{
        display: flex;
        flex-direction: column;
        text-align: center;
        img{
            align-self: center;
            margin-top: 50px;
            margin-bottom: 50px;
            width: 35%;
        }
   
   h2{
   
       font-size: 25px;
        color: $mainColor;
         
         font-family: $myfont;
   }
   p{
   font-family: $formfont;
       font-size: 16px;
   }
   
     }
}




}
