.df {
    display: flex;
    align-items: center;
}
.just {
    justify-content: space-between;
}
.color {
    background-color: $color2;
}

.mains {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}
.newpoint {
    @media screen and (min-width: 992px) {
        height: 8vh;
    }
}


