$primarycolor: rgba(2, 140, 50, 1);
$secondarycolor: rgba(0, 0, 0, 1);
$color1: rgba(238, 238, 238, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(0, 0, 0, 0.4);
$shadow: 0px 4px 18px rgba(0, 0, 0, 0.16);
$font1: "Mulish", sans-serif;
$font2: "Inter", sans-serif;