@import "./Asset/modules/color";
@import "./Asset/modules/reset";
// Navigation Bar
.navbar {
    background-color: $nav;
    box-shadow: $boxShadow;
    .navbar-brand {
        span {
            color: $color1;
            @media screen and(max-width: 910px) {
                display: none;
            }
        }
    }
    .navbar-toggler {
        border: none !important;
    }
    .fa {
        color: $fa;
    }
    ul {
        li {
            a {
                font-weight: 600;
                color: $color1 !important;
                &:hover {
                    background-color: $color1;
                    color: $ptext2 !important;
                }
            }
        }
    }
    .btn {
        background-color: $color1;
        color: $ptext2;
        outline: none !important;
        padding: 5px 30px 5px 30px;
        &:focus {
            box-shadow: none;
        }
        &:hover {
            color: $color1;
            background-color: $ptext1;
        }
    }
}
// nav {
//     display: flex;
//     justify-content: space-between;
//     background-color: $nav;
//     font-weight: 600;
//     padding: 2vw;
//     box-shadow: $boxShadow;

//     .wasteX {
//         padding-top: 4vh;
//         color: $color1;
//         img {
//             width: 50px;
//         }
//     }

//     .navBar {
//         display: flex;
//         list-style: none;
//         text-align: center;
//         padding-top: 3vh;

//         li{
//             a{
//                 color: $color1;
//                 font-weight: 500;

//             }
//         }

//         #btn2.btn{
//             display: none;
//             @media screen and(max-width:780px){
//                 display: flex;
//         background-color: $color1;

//             }

//         }

//         @media screen and(max-width:780px) {
//             display: block;
//             position: absolute;
//             color: white;
//             top: 67px;
//             left: -200vh;
//             &.show {
//                 display: flex;
//                 flex-direction: column;
//                 position: relative;
//                 background-color: transparent;
//                 min-height: 400px;
//                 color: white;
//                 top: 49px;
//                 left: -125px;
//             }
//         }
//     }
//     .btn1 {
//         background-color: $color1;
//         color: $ptext1;
//         outline: none;
//         padding-right: 40px;
//         padding-left: 40px;
//         font-weight: 500;
//         margin-top: 22px;
//         margin-bottom: 36px;
//         margin-left: 100px;

//         @media screen and(max-width:780px) {
//             display: none;
//         }
//         &:hover {
//             background-color:$ptext1 ;
//             color: $color1;
//             pointer-events: visible;
//             cursor: pointer;
//         }
//     }
//     .fa {
//         padding-top: 4vh;
//         color: $color1;
//         font-size: 30px;

//         @media screen and(min-width:780px) {
//             display: none;
//         }
//     }
// }

.AboutUs {
    border-bottom: 40px solid $color1;
    h2 {
        color: $color1;
        // &::after{
        // content: "";
        // border-right: 15px solid green;
        // width: 100px;
        // transform: translate(10px);
    }
p{
    color: $color1;
    text-align: justify;
}
    img {
        background-image: url(./Asset/img/aboutUsBg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.WasteMenace{
    background-color: $bg2;
    h2{
        color: $color1;
    }
    p{
        color: $color1;
        text-align: justify;
    }
    
}
.OurSolution{
    h2{
        color: $color1;
    }
    p{
        color: $color1;
        text-align: justify;
    }
}
.advice{
    h3{
        color: $color1;
        text-align: center;
    }
    p{
        color: $ptext1;
        text-align: center;
    }
}
// .aboutUs {
//     background-image: url(./Asset/img/aboutUsBg.svg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color: $color1;
//     background-position: center;
//     // height: 60vh;
//     h2 {
//         color: $ptext2;
//         padding-top: 10vh;
//         }
//     }
//     p {
//         color: $ptext2;
//         // padding-bottom: 10vh;
//     }
// }
// .wasteMenace {
//     .wasteText {
//         // max-height: 30vh;
//         h2 {
//             color: $color1;
//         }
//         p {
//             font-size: small;
//         }
//     }
// }
// .OurSolution {
//     background-color: $color1;
//     .solutionText {
//         h2 {
//             color: $ptext2;
//         }
//         p {
//             color: $ptext2;
//         }
//     }
// }
// .wasteRecycle {
//     background-color: $bg1;
//     .RecycleText {
//         p {
//             padding-top: 10vh;
//         }
//     }
// }
// .advice {
// background-image: url(/Asset/img/aboutUSrecycle-bin.svg);
// background-repeat: no-repeat;
// transform: translate-y(20px);

// background-image: url(/Asset/img/aboutUSecology.svg);
.adviceText {
    text-align: center;
    h4 {
        padding-top: 10vh;
        color: $color1;
    }

    p {
        // text-align: center;
        padding: 10vh;
    }
}

footer {
    background-color: $color1;
    .newsletter {
        justify-content: space-between;
        display: flex;
        label {
            color: $ptext2;
        }
        button {
            background-color: $btn;
            color: $ptext2;
        }
    }
    .ft {
        .abt {
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $ptext2;
                        text-align: center;
                    }
                }
            }
        }
        .contact {
            @extend .abt;
        }
        .services {
            @extend .abt;
        }
    }
}
