header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vw !important;
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0 !important;
    #myDiv{
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    ul{
        display: flex;
        align-items: center;
        @media screen and (max-width: 800px) {
            display: none;
            flex-direction: column;
            text-align: center;
            width: 100%;
            // margin-top: 74px;
            background-color: #fff;
        }
        li{
            margin-right: 12px;
            a{
                color: green;
                text-decoration: none;
            }
        }
    }
    .navbutton{
        @media screen and (max-width: 800px) {
            display: block;
        }
        display: none;
    }
    .search{
        @media screen and (min-width: 800px) {
            display: none !important;
        }
        @media screen and (max-width: 425px) {
            display: none !important;
        }
    }
}

aside{
    background-color: #028C32;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 1em;
    width: 5vw;
    height: 100vh;
    display: none;
     ul{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4em;
    }
}

#closeBtn{
    display: none;
    cursor: pointer;
}
#closeBtn, #menuBtn{
    cursor: pointer;
}
