header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vw !important;
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0 !important;

    #myDiv {
        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    #navOption {
        display: flex;
        align-items: center;

        @media screen and (max-width: 800px) {
            display: none;
            flex-direction: column;
            background-color: #fff;
            position: absolute;
            line-height: 2;
            bottom: -220%;
        }

        a {
            margin-right: 12px;
            text-decoration: none;
            color: green;
        }
    }

    .navbutton {
        @media screen and (max-width: 800px) {
            display: block;
        }

        display: none;
    }
}

aside {
    background-color: #028C32;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 1em;
    width: 5vw;
    height: 100vh;
    display: none;

    ul {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4em;
    }
}

#closeBtn {
    display: none;
    cursor: pointer;
}

#closeBtn,
#menuBtn {
    cursor: pointer;
}

.none {
    display: none;
}

.nop {
    margin-right: -35px;
    margin-left: 10px;
}

.blo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.4rem;
    @media screen and (max-width: 800px) {
        display: none;
    }
}