$nav : linear-gradient(0deg, #FFFFFF, #FFFFFF);
$color1 : #028C32;
$ptext1 : #00000066;
$btn : #000000;
$ptext2 : #FFFFFF;
$bg1 :#EEEEEE;
$bg2 : #E5E5E5;
$fa : #646765;

$placeholder : rgba(0, 0, 0, 0.36);
$accordion: rgba(154, 153, 153, 0.08);
$testimonial: linear-gradient(270deg, rgba(255, 255, 255, 0.24) 5.66%, rgba(255, 255, 255, 0) 98.72%);
$boxShadow:  0px 4px 18px rgba(0, 0, 0, 0.16);





